
{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container d-flex flex-column justify-content-center" style="max-width:500px;">
     <form method="post" enctype="multipart/form-data">
            <p class="display-4" style="font-style:italic;">Files</p>
                {% csrf_token %}
                 {{form.as_p}}
           <div class="d-flex flex-row flex-wrap justify-content-evenly">
            <button class="btn btn-grad my-3" type="submit" style="min-width:150px">Upload File</button>
            <button class="btn btn-grad btn-delete my-3" onclick="javascript:history.back();" style="min-width:150px">Cancel</button>
            </div>
    </form>

        <div class="form-group mt-5 ">
        <table class="table table-striped table-bordered stripe " style="width:100%">
         <thead>
            <tr>
                <th>File Name</th>
                <th></th>
            </tr>
        </thead>
         {% for line in attached  %}
         <tbody>
            <tr>   {{line}}
                <td>{{attached.uploaded_files.name}}</td>
                <td><a class="btn btn-grad mx-auto " href="#"  style="max-width:150px">Download</a></td>
            </tr>
          {% endfor %}
        </tbody>
        </table>

     </div>

{% endblock content %}


