<!DOCTYPE html>
<html lang="en-en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        h1   {color: black;}
        p    {color: goldenrod;}
        </style>
    <title>New Client question from website form</title>
</head>
<body>
    <div>
    <h1>New Client question from website form</h1>
    <p>Client name: $name</p>
    <p>Client surname: $surname</p>
    <p>Phone number: $email</p>
    <p>Phone number: $phone</p>
    <p>Client question: $question</p>
    </div>
</body>
</html>